yfinance
requests
pandas
newsapi-python
streamlit
python-dotenv
pandas
numpy
yfinance
alpha-vantage
finnhub-python
python-dateutil
pytz
plotly
matplotlib
mplfinance
scikit-learn
tensorflow
prophet
python-telegram-bot
lxml
textblob
vaderSentiment

